beautifulsoup4
bs4
cycler
Django
django-model-utils
django-spaghetti-and-meatballs
html5lib
Jinja2
lxml
MarkupSafe
matplotlib
numpy
openpyxl
pandas
pyparsing
python-dateutil
pytz
seaborn
selenium
six
webencodings