beautifulsoup4>=4.6.0
bs4>=0.0.1
cycler>=0.10.0
Django>=1.11.2
django-model-utils>=3.0.0
django-spaghetti-and-meatballs>=0.2.2
html5lib>=0.999999999
Jinja2>=2.9.6
lxml>=3.8.0
MarkupSafe>=1.0
matplotlib>=2.0.2
numpy>=1.13.1+mkl
openpyxl>=2.4.8
pandas>=0.20.2
pyparsing>=2.2.0
python-dateutil>=2.6.0
pytz>=2017.2
scipy>=0.19.1
seaborn>=0.8
selenium>=3.4.3
six>=1.10.0
webencodings>=0.5.1