{% extends 'analysis/base.html' %}

{% load bootstrap3 %}
{% load static from staticfiles %}

{%block jquery%}
	<script src="{% static 'interrogateScript.js' %}"> </script>
{% endblock jquery%}

{% block css %}
<style>
#containerdiv {
  width:87%;
}
#optionsBar{
	float:left;
	min-width: 100px;
	max-width: 20%;
}
.checkbox>label{
	border-radius: 6px;
	padding:0px 20px;
}
select.form-control.disabled-exclusive{
	background-color: #f2dede;
	border-color:#a94442;
	color:#a94442;
}
label.checkbox-exclusive{
	/* border:1px solid #a94442; */
	color:#ccc;
	text-decoration: line-through;
}


</style>
{% endblock css %}

{% block header %}
	<h2> Data Interrogator </h2>
{% endblock header %}

{% block content %}
<div id="optionsBar">
	<div id="rowcolalert" class="alert alert-danger" role="alert" style="display:None;" >Selected row and column interfere!</div>
	<form action="{% url 'analysis:interrogate'%}" method="post" class="form">
		{% csrf_token %}
		{% bootstrap_form form %}

		{% buttons %}
			<button type="submit" name="show_table"  class="btn btn-primary">{% bootstrap_icon "circle-arrow-right" %} Get Table</button>
			<button type="submit" name="export_table"  class="btn btn-primary"/>{% bootstrap_icon "download-alt" %}Export to Excel</button>
		{% endbuttons %}
	</form>
</div>
<div class="table-responsive" style="padding:10pt;">
	{{outputTable|safe}}
</div>

{%endblock content%}
