{% extends 'analysis/base.html' %}

{% load bootstrap3 %}

{% block header %}
	<h2> Data Interrogator </h2>
{% endblock header %}

{% block content %}
<div style="float: left;">
	<form action="{% url 'analysis:interrogate'%}" method="post" class="form">
		{% csrf_token %}
		{% bootstrap_form form %}
		
		{% buttons %}
			<input type="submit" name="show_table" value="Get Table" class="btn btn-primary"/>
			<input type="submit" name="export_table" value="Export to Excel" class="btn btn-primary"/>
		{% endbuttons %}
	</form>
</div>
<div >
	{{outputTable|safe}}
</div>

{%endblock content%}