{% extends 'analysis/base.html' %}

{% load bootstrap3 %}
{% load static from staticfiles %}

{% block header %}
	<h2> Subject Analysis- {{ row_type }} - {{ col_type }}</h2>
{% endblock header %}

{% block content %}
<div class="form">
	<form action ="{% url 'analysis:stdTable_sub' %}" method="post" class="form">
		{% csrf_token %}
		{% bootstrap_form form %}
		
		{% buttons %}
			<button type="submit" name="show_table" class="btn btn-primary">
			{% bootstrap_icon "circle-arrow-right" %} Get Table</button>
			<button type="submit" name="export_table"  class="btn btn-primary" disabled>{% bootstrap_icon "download-alt" %}Export to Excel</button>
		{% endbuttons %}
	</form>
</div>
<br>
<div class="table-responsive" style="padding:10pt;">
	{{outputTable|safe}}
</div>

{% endblock content %}
