<script language="javascript">
  if ("{{row_type}}"=="yeargroup"){
    $('#id_yeargroup_selected')
      .empty()
      .hide()
      .append('<option value="" selected></option>');
    $('[for="id_yeargroup_selected"]').hide();
    $('#tableTitle').text("{{form.cleaned_data.subject_selected}}, {{form.cleaned_data.classgroup_selected}}")
  }
  else{
    $('#id_yeargroup_selected').change(function(){populateSubs(this)});
    $('#id_subject_selected').change(function(){populateClasses(this)});
    $("#id_classgroup_selected").change(function(){enableQuery()});
    $('#id_description').addClass('descriptions');
    years={{ form.years | safe }};
    subs= {{ form.subs | safe}};
    classes= {{form.classes | safe}};
    populateYear();
    $('#id_subject_selected')
      .empty()
      .append('<option value="" disabled selected>Please select a yeargroup</option>');
    $('#id_classgroup_selected')
      .empty()
      .append('<option value="" disabled selected>Please select a yeargroup</option>');

    function populateYear(){
      $('#id_yeargroup_selected')
        .empty()
        .append('<option value="" selected>Select your option</option>');
      $.each(years,function(v) {
        $('#id_yeargroup_selected')
          .append($("<option></option>")
          .attr("value",years[v])
          .text(years[v]));
      });
    }

    function populateSubs(event) {
      year= $('#id_yeargroup_selected option:selected').text();
			$("#id_subject_selected").empty();
			$("#id_subject_selected").append('<option value="" disabled selected>Select your option</option>');
      $("#id_classgroup_selected").empty();
      $("#id_classgroup_selected").append('<option value="" disabled selected>Please select a subject</option>');
      enableQuery();
      for (let [y,ysubs] of Object.entries(subs)){
        if (y==year) {
          for (sub in ysubs) {
            $('#id_subject_selected')
              .append($("<option></option>")
                .attr("value",ysubs[sub])
                .text(ysubs[sub]));
          }
        }
      }
    }

    function populateClasses(event) {
      year=$('#id_yeargroup_selected option:selected').text();
      sub=$('#id_subject_selected option:selected').text();
      $('#id_classgroup_selected').empty();
      $('#id_classgroup_selected').append('<option value="" disabled selected>Select your option</option>');
      enableQuery();
      for (let[ys,ysclasses] of Object.entries(classes)){
        if (ys==year+","+sub){
          for (cls in ysclasses){
            $('#id_classgroup_selected')
              .append($("<option></option>")
              .attr("value",ysclasses[cls])
              .text(ysclasses[cls]));
          }
        }
      }
    }

    function enableQuery(){
      if ($('#id_classgroup_selected option:selected').text()!="Select your option"
      && $('#id_classgroup_selected option:selected').text()!="Please select a yeargroup"
      && $('#id_classgroup_selected option:selected').text()!="Please select a subject"){
        $('[name="show_table"]').removeAttr('disabled');
        }
      else{
        $('[name="show_table"]').attr('disabled','disabled');
      }
    }

    if ("{{yeargroup_selected}}"!=""){
      $('#id_yeargroup_selected option:contains({{yeargroup_selected}})').attr("selected","selected").change();
    }
    if ("{{subject_selected}}"!=""){
      $('#id_subject_selected option:contains({{subject_selected}})').attr("selected","selected").change();
    }
    if ("{{classgroup_selected}}"!=""){
      $('#id_classgroup_selected option:contains({{classgroup_selected}})').attr("selected","selected").change();
    }
  }
</script>
