{% extends 'analysis/base.html' %}

{% block header %}
<h2> Yeargroups </h2>
{%endblock header%}

{% block content %}
<table class="table table-striped table-hover table-bordered">
	<tr>
		<th> Cohort </th>
		<th> Current Year </th>
		<th> # Students </th>
		<th> Classes </th>
		<th>Subjects</th>
		<!-- <th> Reg Groups </th> -->
	</tr>
	{% for yeargroup in yeargroups %}
	<tr>
		<td>
			{{yeargroup}}
		</td>
		<td>
			{{yeargroup.current_year}}
		</td>
		<td>
			{{yeargroup.student_set.count }}
		</td>
		<td>
			<a href="{% url 'analysis:yeargroupClasses' yeargroup.cohort %}">Go!</a>
		</td>
		<td>
			<a href="{% url 'analysis:yeargroupSubjects' yeargroup.cohort %}">Go!</a>
		</td>
<!-- 		{% for reg in yeargroup.reggroups %}
		<td>
			{{reg}}
		</td>
		{%endfor%} -->
	</tr>
	{% endfor %}
</table>

{% endblock content %}